*,
::after ::before {
  box-sizing: border-box;
}
body,
h1 {
  margin: 0;
}

body {
  font-family: Helvetica, sans-serif;
}

header {
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 3rem;
}
